<ui-select on-select="nodeReferencingFieldSelected($select.selected,item)" ng-init="loadNodeReferences(item.infoField)" theme="select2"
           ng-model="selectedFormat" ng-disabled="false">
  <ui-select-match placeholder="{{getLocaleValue(item.labels)}}">{{getLocaleValue(item.labels)}}</ui-select-match>
  <ui-select-choices repeat="m in items" refresh="loadNodeSearchReferences(item.infoField, $select.search)"  refresh-delay="500">
    <div ng-bind-html="getLocaleValue(m.names)| highlight: $select.search" ></div>

    <div ng-if="$index == items.length-1 && showLoadMore">
      <button
          ng-if="maxNrOfElements > actualNr"
          class="btn btn-xs btn-success"
          style="width: 100%;  margin-top: 5px; z-index:1;"
          ng-click="loadNodeReferences(item.infoField, $event)">
        Load More
      </button>
    </div>
  </ui-select-choices>
</ui-select>
